
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282c34;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {

  color: #ffffff;
  margin-left: 10px;

}


.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  height:20px;
  color: #b3b3b3;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #474545;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #353434;
  color: white;
}